asttokens==3.0.2
cffi==2.1.1
charset-normalizer==3.5.1
cloudpickle==3.1.2
cryptography==50.0.1
et_xmlfile==2.0.0
executing==2.2.1
geographiclib==2.1
geopy==2.5.0
ipython==9.17.1
ipython_pygments_lexers==1.1.1
jedi==0.20.0
joblib==1.6.0
matplotlib-inline==0.2.2
narwhals==2.26.0
numpy==2.5.3
openpyxl==3.1.5
packaging==26.3
pandas==3.0.5
parso==0.8.7
pdf2image==1.17.0
pdfminer.six==20260107
pdfplumber==0.11.10
pexpect==4.9.0
pillow==12.3.0
prompt_toolkit==3.0.53
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==3.0
Pygments==2.21.0
pypdfium2==5.13.0
pytesseract==0.3.13
python-dateutil==2.9.0.post0
scikit-learn==1.9.0
scipy==1.18.1
six==1.17.0
stack-data==0.6.3
threadpoolctl==3.6.0
tqdm==4.70.0
traitlets==5.16.1
wcwidth==0.8.3
